*{
    margin: 0px;
    padding: 0px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Montage en tete : debut*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(0, 72, 255);
    color: white;
}

header img{
    height: 100px;
    width: 80px;
}

.menu ul{ /*modification style de liste*/
    display: flex;
    list-style: none;
    padding: 15px;
    margin-right: 350px;
    gap: 2rem; /*Espace entre le mot de navigation*/
}

.menu a{ /*modif elements de la liste*/
    text-decoration: none;
    color: white;
    padding: 15px;
}

body{
    background-color: whitesmoke;
}
/* Montage en tete : fin*/
.menu a:hover{ /*modif elements de la liste*/
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 15px; 
    transition: background-color 0.3s, border-radius 0.3s;
    font-weight: bold;
}

#concern{
    display: flex;    
}

.leader{
    right: 100px;
    padding-top: 50px;
    padding-right: 150px;
}

.leader img{
    width: 150%;
    height: 70%;
    border-radius: 100px;
    object-fit: cover;
}

.me{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 8px;
    padding-left: 60px;
    padding-top: 10px;
}

.init{
    text-align: center;
    font-style: italic;
    font-size: 7px;
    padding-left: 60px;
}

.contain{
    padding-right: 30%;
    padding-top: 40px;
    padding-left: 15px;
}

.contain h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.contain p{
    font-size: 20px;
    margin-top: 10px;
}

.second{
    margin-top: 30px;
}

#contact{
    margin-top: 30px;
    text-align: center;
}

#contact h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.cntct-me{
    margin-top: 20px;
    /*background-color: rgba(108, 108, 108, 0.838);*/
    padding: 15px;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.cntct-me img{
    border-radius: 50px;
}

.insta img{
    margin-top: 30px;
    height: 50px;
    width: 45px;
}

.wa img{
    margin-top: 30px;
    height: 50px;
    width: 50px;
}

.mail img{
    height: 100px;
    width: 55px;
}

footer{
    background-color: red;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}